@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body
 {
  color: #000000;
   font-family: 'Roboto', sans-serif;
    background-color: #ededed;
}
.font-control
{
    font-size: 120%;
}
.onBg
{
    text-shadow: 5px 5px 15px #000000;
}
.font-control p,.font-control img
{
    margin-bottom: 25px;
}
.font-control h3
{
    margin-bottom: 10px;
    font-size: 1.4em;
}

@media (min-width:2000px)
{
    .font-control
{
    font-size: 140%;
}
}
@media (max-width:786px) and (min-width:372px)
{
    .font-control
{
    font-size: 100%;
}
}
@media (max-width:472px)
{
    .font-control
{
    font-size: 80%;
}
}